 html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: white;
  color: var(--text-color);
   padding-top: 2rem;
   margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.input-focus:focus {
  border-color: green; 
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); 
}
.input-focus:hover {
  border-color: green; 
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); 
}

.sidebar {
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: #ffffff;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.content {
  flex-grow: 1;
  margin-left: 255px;  

}

.mobile-menu-button {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 200;
}

@media (max-width: 1350px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0; 
  }
}




.card {
  max-width:100%;
  padding: 50px;
  background: white;
  z-index: 1;
}

.p-datatable {
  width: 100%;
}

.p-avatar {
  border: 2px solid #ddd;
}
.form-container {
  max-width: 100%;
  margin: auto;
  padding-top: 20px;
  background: white;
  border-radius: 10px;
  text-align: right;
}

.profile-section {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.profile-avatar {
  width: 80px;
  height: 80px;
}

.add-avatar-btn {
  position: absolute;
  bottom: 5px;
  right: 120px;
}

.form-content {
  max-width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.p-inputgroup-addon {
  background: #f1f1f1;
}

.save-btn {
  margin-top: 10px;
}

.custom-icon-button .pi-bars {
  color: green;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.weekly-calendar {
  width: 95%;
  max-width: 1200px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #f5f5f5;
}

.day-cell {
  min-height: 100px; 
  vertical-align: top; 
}
.custom-icon-button
 .pi {
  font-size: 1.8rem; 
}


/*5555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/


/*sighn in-submit*/
.custom-button {
  background-color: #4CAF50; /* ירוק חי */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.custom-button:active {
  background-color: #3e8e41;
  transform: scale(0.95);
}
/*sighn in-submit*/

/*sighn in-logo*/
.custom-card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.card-title {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.card-icon {
  width: 60px; 
  height: auto;
  margin-left: 5%;
}
/*sighn in-logo*/


/*side-bar-title*/
.card-icon-side {
  width: 130px; 
  height: auto;
  margin-left: 20%;
  margin-top: 20px
}
/*side-bar-title*/

/*color of icons*/
.p-button-text{
  color:rgb(128, 128, 128)
}
/*color of icons*/

.p-button-outlined{
  color:rgb(47, 143, 129)
  
}

/*settings-tab-color*/
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: green !important; /* צבע טקסט */
  border-bottom: 3px solid #888 !important;/* צבע קו תחתון*/
}
/*settings-tab-color*/

/*555555555555555555555555555555555555555555555555555555555*/



